USE [master]
GO
/****** Object:  Database [ComputerClub]    Script Date: 4/28/2026 2:23:16 PM ******/
CREATE DATABASE [ComputerClub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputerClub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ComputerClub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputerClub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ComputerClub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerClub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputerClub]
GO
/****** Object:  UserDefinedFunction [dbo].[HashPassword]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Функция для хэширования пароля в HEX строку
CREATE   FUNCTION [dbo].[HashPassword](@password NVARCHAR(255))
RETURNS NVARCHAR(64)
AS
BEGIN
    RETURN CONVERT(NVARCHAR(64), HASHBYTES('SHA2_256', @password), 2)
END
GO
/****** Object:  Table [dbo].[ClientRanks]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientRanks](
	[RankID] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](50) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Balance] [decimal](10, 2) NOT NULL,
	[RankID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComputerGames]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerGames](
	[ComputerID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
 CONSTRAINT [PK_ComputerGames] PRIMARY KEY CLUSTERED 
(
	[ComputerID] ASC,
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[ComputerID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[ComputerName] [nvarchar](20) NOT NULL,
	[IPAddress] [nvarchar](15) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComputerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PositionID] [int] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Developer] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtPurchase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[ComputerID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariffs]    Script Date: 4/28/2026 2:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariffs](
	[TariffID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[TariffName] [nvarchar](50) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClientRanks] ON 

INSERT [dbo].[ClientRanks] ([RankID], [RankName], [DiscountPercent]) VALUES (1, N'Новичок', CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[ClientRanks] ([RankID], [RankName], [DiscountPercent]) VALUES (2, N'Бронза', CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[ClientRanks] ([RankID], [RankName], [DiscountPercent]) VALUES (3, N'Серебро', CAST(7.50 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[ClientRanks] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [Nickname], [Phone], [Balance], [RankID]) VALUES (1, N'newbie1', N'+375292510627', CAST(199500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Clients] ([ClientID], [Nickname], [Phone], [Balance], [RankID]) VALUES (3, N'cool', N'+375295634895', CAST(250.00 AS Decimal(10, 2)), 6)
INSERT [dbo].[Clients] ([ClientID], [Nickname], [Phone], [Balance], [RankID]) VALUES (4, N'cyber', N'+375296584155', CAST(30.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
INSERT [dbo].[ComputerGames] ([ComputerID], [GameID]) VALUES (1, 1)
INSERT [dbo].[ComputerGames] ([ComputerID], [GameID]) VALUES (2, 1)
INSERT [dbo].[ComputerGames] ([ComputerID], [GameID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([ComputerID], [HallID], [ComputerName], [IPAddress], [IsAvailable]) VALUES (1, 1, N'PC-СТАНДАРТ-01', N'192.168.1.101', 1)
INSERT [dbo].[Computers] ([ComputerID], [HallID], [ComputerName], [IPAddress], [IsAvailable]) VALUES (2, 1, N'PC-СТАНДАРТ-02', N'192.168.1.102', 1)
INSERT [dbo].[Computers] ([ComputerID], [HallID], [ComputerName], [IPAddress], [IsAvailable]) VALUES (3, 1, N'PC-СТАНДАРТ-03', N'192.168.1.103', 1)
SET IDENTITY_INSERT [dbo].[Computers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Phone], [PositionID], [Login], [PasswordHash], [Role], [IsActive]) VALUES (7, N'Иванов Иван Иванович', N'+7-900-111-22-33', 1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Admin', 1)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Phone], [PositionID], [Login], [PasswordHash], [Role], [IsActive]) VALUES (8, N'Петрова Екатерина Сергеевна', N'+7-900-222-33-44', 2, N'employee', N'ef92b778bafe771e89245b89ecbc08a44a4e166c06659911881f383d4473e94f', N'Employee', 1)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Phone], [PositionID], [Login], [PasswordHash], [Role], [IsActive]) VALUES (9, N'Сидоров Алексей Дмитриевич', N'+7-900-333-44-55', 3, N'technician', N'ef92b778bafe771e89245b89ecbc08a44a4e166c06659911881f383d4473e94f', N'Technician', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Games] ON 

INSERT [dbo].[Games] ([GameID], [Title], [Developer]) VALUES (1, N'Counter-Strike 2', N'Valve')
INSERT [dbo].[Games] ([GameID], [Title], [Developer]) VALUES (2, N'Dota 2', N'Valve')
INSERT [dbo].[Games] ([GameID], [Title], [Developer]) VALUES (3, N'Cyberpunk 2077', N'CD Projekt RED')
SET IDENTITY_INSERT [dbo].[Games] OFF
GO
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([HallID], [Name], [Description]) VALUES (1, N'Общий зал', N'Стандартные компьютеры для массового посещения')
INSERT [dbo].[Halls] ([HallID], [Name], [Description]) VALUES (2, N'Буткемп', N'Изолированная комната 5х5 для командных игр')
INSERT [dbo].[Halls] ([HallID], [Name], [Description]) VALUES (3, N'VIP зал', N'Мощные компьютеры и профессиональная периферия')
SET IDENTITY_INSERT [dbo].[Halls] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [PriceAtPurchase]) VALUES (8, 1, 1, CAST(90.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [PriceAtPurchase]) VALUES (9, 10, 1, CAST(250.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [SessionID], [EmployeeID], [PaymentMethodID], [OrderTime]) VALUES (8, 22, 7, 1, CAST(N'2026-04-27T06:09:55.120' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [SessionID], [EmployeeID], [PaymentMethodID], [OrderTime]) VALUES (9, 23, 7, 4, CAST(N'2026-04-27T06:13:05.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (2, N'Банковская карта')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (4, N'С баланса аккаунта')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [Title]) VALUES (1, N'Администратор')
INSERT [dbo].[Positions] ([PositionID], [Title]) VALUES (2, N'Сотрудник')
INSERT [dbo].[Positions] ([PositionID], [Title]) VALUES (3, N'Техник')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Напитки')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Снеки')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Энергетики')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Price], [StockQuantity]) VALUES (1, 1, N'Coca-Cola 0.5л', CAST(120.00 AS Decimal(10, 2)), 100)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Price], [StockQuantity]) VALUES (2, 1, N'Fanta 0.5л', CAST(110.00 AS Decimal(10, 2)), 80)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Price], [StockQuantity]) VALUES (3, 1, N'Sprite 0.5л', CAST(110.00 AS Decimal(10, 2)), 80)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([SessionID], [ClientID], [ComputerID], [EmployeeID], [TariffID], [PaymentMethodID], [StartTime], [EndTime], [TotalCost]) VALUES (1, 1, 7, 7, 6, 4, CAST(N'2026-04-21T17:04:07.087' AS DateTime), CAST(N'2026-04-21T18:04:07.087' AS DateTime), CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Sessions] ([SessionID], [ClientID], [ComputerID], [EmployeeID], [TariffID], [PaymentMethodID], [StartTime], [EndTime], [TotalCost]) VALUES (16, 23, 11, 7, 6, 1, CAST(N'2026-04-26T12:14:26.623' AS DateTime), CAST(N'2026-04-26T13:14:26.623' AS DateTime), CAST(400.00 AS Decimal(10, 2)))
INSERT [dbo].[Sessions] ([SessionID], [ClientID], [ComputerID], [EmployeeID], [TariffID], [PaymentMethodID], [StartTime], [EndTime], [TotalCost]) VALUES (17, 5, 7, 7, 9, 1, CAST(N'2026-04-27T04:24:48.433' AS DateTime), CAST(N'2026-04-27T04:25:02.193' AS DateTime), CAST(250.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariffs] ON 

INSERT [dbo].[Tariffs] ([TariffID], [HallID], [TariffName], [DurationMinutes], [Price]) VALUES (1, 1, N'Час в общем зале', 60, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Tariffs] ([TariffID], [HallID], [TariffName], [DurationMinutes], [Price]) VALUES (2, 1, N'Пакет 3 часа (общий)', 180, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[Tariffs] ([TariffID], [HallID], [TariffName], [DurationMinutes], [Price]) VALUES (3, 1, N'Пакет 5 часов (общий)', 300, CAST(400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Tariffs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__CC6CD17EABB67035]    Script Date: 4/28/2026 2:23:16 PM ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[Nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ComputerGames_ComputerID]    Script Date: 4/28/2026 2:23:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_ComputerGames_ComputerID] ON [dbo].[ComputerGames]
(
	[ComputerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ComputerGames_GameID]    Script Date: 4/28/2026 2:23:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_ComputerGames_GameID] ON [dbo].[ComputerGames]
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Login]    Script Date: 4/28/2026 2:23:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_Login] ON [dbo].[Employees]
(
	[Login] ASC
)
WHERE ([Login] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Employee') FOR [Role]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD FOREIGN KEY([RankID])
REFERENCES [dbo].[ClientRanks] ([RankID])
GO
ALTER TABLE [dbo].[ComputerGames]  WITH CHECK ADD  CONSTRAINT [FK_ComputerGames_Computers] FOREIGN KEY([ComputerID])
REFERENCES [dbo].[Computers] ([ComputerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComputerGames] CHECK CONSTRAINT [FK_ComputerGames_Computers]
GO
ALTER TABLE [dbo].[ComputerGames]  WITH CHECK ADD  CONSTRAINT [FK_ComputerGames_Games] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComputerGames] CHECK CONSTRAINT [FK_ComputerGames_Games]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
ALTER TABLE [dbo].[Employees]  WITH NOCHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([SessionID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([ComputerID])
REFERENCES [dbo].[Computers] ([ComputerID])
GO
ALTER TABLE [dbo].[Sessions]  WITH NOCHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([TariffID])
REFERENCES [dbo].[Tariffs] ([TariffID])
GO
ALTER TABLE [dbo].[Tariffs]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
USE [master]
GO
